<div class="chart-container">
  <h3>My Daily Tasks</h3>
  <button class="filter-button">Filter ▼</button>

  <div class="tabs">
    <span class="active-tab">Online</span>
    <span class="inactive-tab">Offline</span>
  </div>

  <div class="chart-wrapper">
    <canvas baseChart
            [data]="doughnutChartData"
            [options]="doughnutChartOptions"
            [type]="'doughnut'">
    </canvas>
    <div class="center-text">
      <span class="total-label">Total</span>
      <span class="total-number">72</span>
    </div>
  </div>

  <ul class="legend">
    <li><span class="dot" style="background-color: #4A90E2;"></span> Cash Management</li>
    <li><span class="dot" style="background-color: #50E3C2;"></span> Financial Reporting</li>
    <li><span class="dot" style="background-color: #B8E986;"></span> Vendors & Contracts</li>
    <li><span class="dot" style="background-color: #D0021B;"></span> Advertising</li>
  </ul>
</div>
