<div class="chart-container">
    <canvas baseChart
      [data]="doughnutChartData"
      [options]="doughnutChartOptions"
      [type]="'doughnut'">
    </canvas>
    <div class="chart-center">{{ totalShipments }}</div>
  
    <!-- Dynamic Legend -->
    <div class="legend-container">
      <div class="legend-item" *ngFor="let label of doughnutChartData.labels; let i = index">
        <div class="legend-color" [ngStyle]="{ 'background-color': chartColors[i] }"></div> {{ label }}
      </div>
    </div>
  </div>
  