<div class="chart-container">
    <div class="chart-wrapper">
      <canvas baseChart 
        [data]="chartData" 
        [options]="doughnutChartOptions" 
        [type]="'doughnut'">
      </canvas>
      <div class="chart-center">{{ chartData.datasets[0].data.reduce((a, b) => a + b, 0) }}</div>
    </div>
  
    <div class="chart-legend">
      <div *ngFor="let label of chartData.labels; let i = index" class="legend-item">
        <div class="legend-color" [ngStyle]="{ 'background-color': backgroundColors[i] }"></div>
        <span>{{ label }} ({{ chartData.datasets[0].data[i] }})</span>
      </div>
    </div>
  </div>
  